[Unit]
Description=TeamCity
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=ec2-user
Type=forking
RemainAfterExit=yes
SuccessExitStatus=0 143
Restart=on-failure

SyslogIdentifier=teamcity
PIDFile=/home/ec2-user/lib/TeamCity/logs/teamcity.pid
ExecStart=/home/ec2-user/lib/TeamCity/bin/runAll.sh start
ExecStop=/home/ec2-user/lib/TeamCity/bin/runAll.sh stop
